@{
    ViewData["Title"] = "SalesForce";
}

<h2>SalesForce Details</h2>

<div class="container my-5">
    <div class="row">
        <div class="col-auto">
            From Date :
        </div>
        <div class="col-auto">
            <input type="text" id="txtFromSelectedDate" name="SelectedDate" />
        </div>
        <div class="col-auto">
            To Date :
        </div>
        <div class="col-auto">
            <input type="text" id="txtToSelectedDate" name="SelectedToDate" />
        </div>
        @*  <div class="col-md-2">
        <select name="products" class="form-control" asp-items="@ViewBag.cities"></select>
        </div>*@
        <div class="col-auto">
            <input type="button" id="txtSearch" value="Search" name="SelectedToDate" />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#txtFromSelectedDate').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: "dd/mm/yyyy",
                    language: "tr"
                });

                $('#txtToSelectedDate').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: "dd/mm/yyyy",
                    language: "tr"
                });
            });


        </script>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                $(function () {
                    alert("@ViewBag.Message");
                });
            </script>
        }

    </div>
</div>
<div class="container my-5" style="overflow-x:auto;">

 

    <div class="row my-5">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            Beskrivelse/Description
                        </th>
                        <th scope="col">
                            Kontaktnavn/Contact name
                        </th>
                        <th scope="col">
                            "Kontakttelefon/
                            Contact telephone"
                        </th>
                        <th>
                            Kontaktmobil/Contact mobile
                        </th>
                        <th>
                            Kontaktmail/Contact email
                        </th>
                        <th>
                            Kraever involvering af Delivery/Requires involvement of Delivery
                        </th>
                        <th>
                            Teknisk Kontakt Samme Som Kontaktperson/Technical Contact Same as Contact Person
                        </th>
                        <th>
                            Teknisk Kontaktperson hos Kunden/Technical Contact Person at the Customer
                        </th>
                        <th>
                            Midlertidig Teknisk Kontakt/Temporary Technical Contact
                        </th>
                        <th>
                            Midlertidig Teknisk Kontakt-Mobil/Temporary Technical Contact - Mobile
                        </th>
                        <th>
                            Midlertidig Teknisk Kontakt - Email/Temporary Technical Contact - Email
                        </th>
                        <th>
                            Beskrivelse/Description
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>